<% include ./partials/headers1 %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <style>
		  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
		  .svgbg{
			background: transparent;
		  }
		  body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
			  height:330vh;
			  padding-top:10vh;
	background-size: 700% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
		  @media (min-width: 320px) and (max-width: 480px) {
  
  img{
			  height:100% !important;
		  }
		  .col-sm{
			  margin-top:30px;
		  }
  
}
		  
	  </style>

    <title>VITrendz Lab</title>
  </head>
  <body>
   

<div class="jumbotron svgbg">
  <h1 class="text-light" style="text-align:center">Follow VITrendz On Instagram</h1>
  <div class="d-flex justify-content-center">
  <a class="btn btn-primary btn-lg" href="https://www.instagram.com/vitrendz/" target="_blank" role="button">View Instagram page</a>
	</div>
</div>
	  <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card" >
  <img src="https://wp-media.petersons.com/blog/wp-content/uploads/2018/01/26100309/blur-close-up-code-computer-546819.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">CSE</h5>
    <a href="/one" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  <img src="https://www.icgeb.org/wp-content/uploads/2018/10/DNA-AdobeStock_banner.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">BioTech</h5>
    
    <a href="/two" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
	  <div class="col-sm">
      <div class="card">
  <img src="https://homededicated.com/wp-content/uploads/2018/02/Create-House-Plans.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Civil</h5>
    
    <a href="/three" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  <img src="https://engineering.nyu.edu/sites/default/files/styles/content_header_default_1x/public/2018-03/program-mech-eng.jpg?h=e1d1bc8a&itok=u0LAHIsQ" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mechanical</h5>
    
    <a href="/four" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  <img src="https://images.theconversation.com/files/207820/original/file-20180226-140213-yox11e.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Mathematics</h5>
    
    <a href="/five" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  <img src="https://miro.medium.com/max/1260/0*NPA8fNAHRZDaVTub.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">University core</h5>
    
    <a href="/six" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
		  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  <img src="https://engineering.eckovation.com/wp-content/uploads/2018/10/eceminiproject.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ECE</h5>
    <a href="/seven" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card">
  <img src="https://www.elprocus.com/wp-content/uploads/2013/11/Final-year-engineering-projects-for-electronics-and-instrumentation-students.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">EIE</h5>
    
    <a href="/eight" class="btn btn-primary">Click to view</a>
  </div>
</div>
    </div>
	  <div class="col-sm">
      <div class="card" >
  <img src="https://images.squarespace-cdn.com/content/v1/5ba5d4bce5f7d1371dd93916/1538330115654-1V19SYVKRS6IX5P1VVG0/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcV7ZyRJyI8bwZiMJRrgPaAKqUaXS0tb9q_dTyNVba_kClt3J5x-w6oTQbPni4jzRa/coming+soon.jpg?format=1500w" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Coming Soon</h5>
    
    <a href="#" class="btn btn-primary">Coming Soon</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
		  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  <img src="https://images.squarespace-cdn.com/content/v1/5ba5d4bce5f7d1371dd93916/1538330115654-1V19SYVKRS6IX5P1VVG0/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcV7ZyRJyI8bwZiMJRrgPaAKqUaXS0tb9q_dTyNVba_kClt3J5x-w6oTQbPni4jzRa/coming+soon.jpg?format=1500w" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Coming Soon</h5>
    
    <a href="#" class="btn btn-primary">Coming Soon</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card">
  <img src="https://images.squarespace-cdn.com/content/v1/5ba5d4bce5f7d1371dd93916/1538330115654-1V19SYVKRS6IX5P1VVG0/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcV7ZyRJyI8bwZiMJRrgPaAKqUaXS0tb9q_dTyNVba_kClt3J5x-w6oTQbPni4jzRa/coming+soon.jpg?format=1500w" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Coming Soon</h5>
    
    <a href="#" class="btn btn-primary">Coming Soon</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  <img src="https://images.squarespace-cdn.com/content/v1/5ba5d4bce5f7d1371dd93916/1538330115654-1V19SYVKRS6IX5P1VVG0/ke17ZwdGBToddI8pDm48kDFgITcRoterXoQdllT5ciUUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcV7ZyRJyI8bwZiMJRrgPaAKqUaXS0tb9q_dTyNVba_kClt3J5x-w6oTQbPni4jzRa/coming+soon.jpg?format=1500w" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Coming Soon</h5>
    
    <a href="#" class="btn btn-primary">Coming Soon</a>
  </div>
</div>
    </div>
</div>
		  <!-- Footer -->
<footer class="page-footer font-small blue pt-4 container-fluid">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="background-color:black;color:white">

    <!-- Grid row -->
    
  <!-- Footer Links -->


    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
	<% include ./partials/footer %>