<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="stylesheet" href="CSS/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    
    <link rel="stylesheet" href="CSS/owl.carousel.min.css">
    <link rel="stylesheet" href="CSS/owl.theme.default.min.css">
    <link rel="stylesheet" href="CSS/smrt.css">
     <link rel="stylesheet" href="CSS/modal.css">
     
    <link rel="icon" href="CSS/image/logo.png" type="image/gif" sizes="16x16">
    
    <link rel="stylesheet" href="CSS/animate.css">
    
    
    


    <title>VITrendz Home</title>
  </head>
  <body>
  
  
<div class="shadow">
  
<!--parallex division 1 start-->
<!--   Nav Bar starts here-->
   
       <div class="navbar-wrapper">
        <div class="container">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  
  
  
  
  
  <a class="navbar-brand animated fadeInUp" href="index.html"><img src="CSS/image/logo.png" class="img-responsive" id="logo" alt="">ITrendz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active animated fadeInUp">
        <a class="nav-link" href="#services-tab">Services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item animated fadeInUp">
        <a class="nav-link" href="https://nullclass.com/" >Null Class</a>
      </li>
      
      <li class="nav-item animated fadeInUp">
        <a class="nav-link" href="#ABOUT-US" >About Us</a>
      </li>
      
      <li class="nav-item animated fadeInUp">
        <a class="nav-link" href="#ContactUs">Contact Us</a>
      </li>
      
       <li class="nav-item dropdown animated fadeInUp">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Others
        </a>
        <div class="dropdown-menu" style="background-color: #3f586b !important" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="underConstruction.html" target="_self">VITrendz Youtube</a>
          <a class="dropdown-item" href="#Sociale">VITrendz Sociale</a>
          <a class="dropdown-item" href="underConstruction.html" target="_self">The Team</a>
          <div class="dropdown-divider"></div>
          <p class="dropdown-header">Be the Trend!</p>
          <a class="dropdown-item" href="#recruit">Get Recruited</a>
        </div>
      </li>
      
     
    </ul>
    
    <ul class="navbar-nav">
    
    <li class="nav-item animated fadeInUp">
        <a class="nav-link" href="#"><i class="fas fa-user-plus"></i> Sign Up</a>
      </li>
      
      <li class="nav-item animated fadeInUp">
        <a class="nav-link" href="#"><i class="fas fa-user-check"></i> Log In</a>
      </li>
    
    
      
</ul>
  </div>
  
  
</nav>
        
        
        
       </div>
   </div>

<!--Nav Bar ends Here-->


<!--canvas starts here-->

  <div id="canvas" class=img-fluid>
       <h1 class="animated fadeInUp">At VITrendz, We
       
       <span class="txt-type" data-wait="2000" data-words='["Create.","Learn.","Entertain.","Grow !","Help."]' ></span>
       </h1>
       <h2 class="animated fadeInUp">Welcome to VITrendz</h2>


 
   </div>

<!--canvas ends here-->
<!-- Parallex division 1 ends here-->
    </div>


   
<!--Services Section goes here-->
<section id="services-full-area" class="services-area-bg1 img-responsive">
  
    
    <div class="bg-circles">
     
     <div id="circle1-posi">
      <img src="CSS/image/ball1.png" class="circle1 " alt=""></div>
  
     <div id="circle1-posibig">
      <img src="CSS/image/ball1.png" class="circlebig" alt=""></div>
  
  <div class="circle-posi1">
  <img src="CSS/image/ball1.png" class="circle1" alt=""></div>
  
    </div>
   
   
   
   
   <div class="service-cover shadow" id="services-tab">
   <div class="container">
   <div class="row opac">
       <div class="col-md-10 offset-md-1">
           <div class="services-heading text-center opac animated fadeInUp">
               <h5>ABOUT THE SERVICES AND FEATURES</h5>
               <h2>One platform for all VITians with multiple services and features to make life at VIT easier.</h2>
               <p>Time to time updates to services and features on periodic basis based on the demand and requirements.</p>
           </div>
           
       </div>
   </div>
   
   <div class="row">
      <div class="col-md-10 offset-md-1 ">
          
          <div class="testimonial-carousel sectionpadding owl-carousel opac">
              
              <div class="single-testi  shadow">
                  <div class="img-area">
                      
                      <img src="CSS/image/Faculty%20FINAL.png" class="img-responsive img1" alt="">
                      
                  </div>
                  
                  <div class="img-text">
                      <h2>Faculty Ratings</h2>
                      <button type="button" class="btn btn-dark" data-modal-target="#modal" id="facultyOpen">Read More</button>
                      <a href="" id="mainFaculty" class="decor"><button type="button" class="btn btn-success">Open Link</button></a>
                      
                  </div>
                  
                 
                  
              </div>
                     
                  
                
              <div class="single-testi opac  shadow">
                  <div class="img-area">
                      
                      <img src="CSS/image/QB.png" class="img-responsive img2" alt="">
                      
                  </div>
                  
                  <div class="img-text">
                      <h2>Question Bank</h2>
                      <button type="button" class="btn btn-dark" data-modal-target="#modal" id="qbOpen" >Read More</button>
                      <a href="" id="mainQuestion" class="decor"><button type="button" class="btn btn-success">Open Link</button></a>
                      
                  </div>
                  
                  
              </div>
              
                
              <div class="single-testi opac  shadow">
                  <div class="img-area">
                      
                      <img src="CSS/image/resale.png" class="img-responsive img3" alt="">
                      
                  </div>
                  
                  <div class="img-text">
                      <h2>Buy and Re-sell</h2>
                      <button type="button" class="btn btn-dark" data-modal-target="#modal" id="resellOpen" >Read More</button>
                      <a href="" id="mainResell" class="decor"><button type="button" class="btn btn-success">Open Link</button></a>
                      
                  </div>
                  
                  
              </div>
              
                
              <div class="single-testi opac  shadow">
                  <div class="img-area">
                      
                      <img src="CSS/image/cab.png" class="img-responsive img1" alt="">
                      
                  </div>
                  
                  <div class="img-text">
                      <h2>Share a cab</h2>
                      <button type="button" class="btn btn-dark" data-modal-target="#modal" id="">Read More</button>
                      <a href="" id="mainCab" class="decor"><button type="button" class="btn btn-success">Open Link</button></a>
                      
                  </div>
                  
                  
              </div>
              
                
              <div class="single-testi opac  shadow">
                  <div class="img-area">
                      
                      <img src="CSS/image/lab%20Record.png" class="img-responsive img2" alt="">
                      
                  </div>
                  
                  <div class="img-text">
                      <h2>Lab Records</h2>
                      <button type="button" class="btn btn-dark" data-modal-target="#modal" id="labOpen">Read More</button>
                      <a href="" id="mainLab" class="decor"><button type="button" class="btn btn-success">Open Link</button></a>
                      
                  </div>
                  
                  
              </div>
              
                
              <div class="single-testi opac  shadow">
                  <div class="img-area">
                      
                      <img src="CSS/image/hostel.png" class="img-responsive img3" alt="">
                      
                  </div>
                  
                  <div class="img-text">
                      <h2 id = "specialh2">Hostel Predictor</h2>
                      <button type="button" class="btn btn-dark" data-modal-target="#modal" id="qb2Open">Read More</button>
                      <a href="" id="mainHostel" class="decor"><button type="button" class="btn btn-success">Open Link</button></a>
                      
                  </div>
                  
                  
              </div>    
             
              
              
          </div>
          
    
<div class="modal" id="modal">
    <div class="modal-header">
      <div class="title" id="modTitle"></div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body" id="modBody"></div>
    <div class="modBtnPlacement">
  <a href="" id="modLink"><button type="button" id="modButton" class="btn btn-success">Open Link</button></a>
  </div>
  </div>
  
  <div id="overlay"></div>

          
      </div>
  
</div>
   
   <div class="row">
       <div class="col-md-10 offset-md-1">
           <div id="msgServices" class="shadow">
              <div class="msgServicesTitle">
                  A MESSAGE FROM THE TEAM
              </div>
               <div class="msgBody">
                    <blockquote><span class="firstLetter">G</span>reeting,
 Vitrendz is started by a group of college students with an idea of helping their fellow students to achieve success and comfort in the easiest way. We put our major efforts to benefit our followers in the maximum way possible. There are many hardworking minds and hands behind every small feature. We are always open to suggestions as we are still developing as a platform. <span id="impReq">We urge you to give constructive feedback and also understand that for the benefit of everyone, do not misuse our content and resources in any manner!</span> We are nothing without our followers. Your happiness, support and satisfaction is our ultimate reward.

Thank you!
                   
                   </blockquote>
                   <cite id="servicesCite">
                   Team VITrendz.    
                   </cite>
               </div>
               <div class="madeWithLove">
                   Made with  &nbsp;<i class="fa fa-heart" aria-hidden="true"></i> &nbsp; by Vitrendz.
               </div>
           </div>
           
           
       </div>
       
       
       
   </div>
   
   
   
   
   
    </div>
 </div>
      </section>
 

  
<!--   Services section endshere-->


  
<!--parallex division 2 strts here-->

       <div class="parallax-window parallex-div" data-parallax="scroll" data-image-src="https://raw.githubusercontent.com/AmanKuvera-Dev/VITrendz/master/CSS/image/para1.png">
        
        <div class="row para1-text">
        <div  class="col-md-6 offset-md-3">
        <h1>For VITians. By VITians</h1>
        <p>VITrendz - one place for all resourses.</p>
        </div>
        </div>
    </div>


<!--parallex division 2 ends here-->


<!--About Us-->
<section id="ABOUT-US">
<div class="mainCover">
<div class="container">
   
   <div class="aboutUs-cover">
    <div class="row firstPart">
        <div class="col-md-10 offset-md-1">
            <div class="AboutUsSection">
               
                <div class="aboutUsTitle1"><h6>Wanna Know us Better?</h6></div>
                <div class="aboutUsTitle2 "><h1 class="opac">ABOUT US</h1></div>
                <div class="aboutUsBody">
                    
                    <div class="what"><h5>What is VITrendz?<br><br></h5>
                    <p class="pClass">VITrendz is founded and cofounded by a group of individuals who strive to make lives at VIT easier. It is an  organization that helps students at VIT by providing them various services and academic resources. It provides entertainment, study materials, interactive help and a vast stream of other facilities to VITians based on their changing requirements. Having said all this, what make VITrendz one of its kind is that it focuses on the betterment and improvement in all the possible fields and that it is built by the motive of providing all sorts of help digitally (through Videos on Youtube, Social Media, Drives and its very own website).</p></div>
                    
                    
                    <div class="how"><h5>How do we work?<br><br></h5>
                    <p class="pClass">All members of VITrendz come from different backgrounds with different talents. Everyone in VITrendz is a talented artist in their own way. While we are serious about our work to make students’ lives in VIT better, but we work efficiently as a family. We are highly dedicated towards our work with utmost selfless dignity and focus. but we also dearly look after our family members’ backs and give the extra boost to make our organization distinctively better and eventually, the best. The laws of equity are highly respected and obeyed by every member and every member gets a chance to bloom to their glory. We are like-minded people who also love to push boundaries with out-of-the-box ideas to make at least one student’s life better.</p></div>
                    
                </div>
                
                
                <div class="msgMotto">
                   <h5>Message and Motto<br><br></h5>
                    <p class="pClass">
                    We here at VITrendz work and support ethically and we expect students of VIT to use our resources in the same way for their good will. We, hereby, declare that we do not indulge in illegal activities against the university’s code of conduct and won’t encourage any such things that are against the college’s reputation and dignity and we request supporters and users of VITrendz amenities to not misuse any of our work towards your betterment. We only request you to share your happiness and love for our work in making your college lives easier and memorable. VITrendz is nothing without the love showered from its supporters and users.    
                    </p>
                    </div>
                
                
                <div class="misVis">
                   <h5>Vision<br><br></h5>
                    <p class="pClass">
                    Our Vision is to make college a place that is easier to survive and concentrate on things that are important and not that are a compulsion on the students. The main motive is to remind the students that there is a little more to life than just studies, so they dont get too involved to be emotionally disturbed because of their performance. So as to implement this, we serve entertainment and education to the students in equity. And we tend to do this for all the engineering student who feel left out in their college life. 
                    </p>
                </div>
                
                <div class="myCommunity">

                <div class="aboutUsTitle2 "><h1 class="opac">VITrendz Community</h1></div>
                    <div class="row countRow">
                        <div class="col-md-3  counter-box">
                            <div class="icon-box instaCount"><i class="fab fa-instagram"></i></div>
                            <h2><span class="counter">4000</span><span>+</span></h2>
                            <p>INSTAGRAM FOLLOWERS</p>
                        </div>
                        <div class="col-md-3 counter-box">
                           <div class="icon-box teleCount"><i class="fab fa-telegram-plane"></i></div>
                          <h2><span class="counter">25</span><span>+</span></h2>
                            <p>TELEGRAM CHANNELS</p>
                        </div>
                        <div class="col-md-3 counter-box">
                            <div class="icon-box whatCount"><i class="fab fa-whatsapp"></i></div>
                            <h2><span class="counter">15</span><span>+</span></h2>
                            <p>WHATSAPP GROUPS</p>
                        </div>
                        <div class="col-md-3 counter-box">
                            <div class="icon-box disCount"><i class="fab fa-discord"></i></div>
                            <h2><span class="counter">200</span><span>+</span></h2>
                            <p>DISCORD MEMBERS</p>
                        </div>
                        
                    </div>
                    
                    <div class="row countRow2">
                        <div class="col-md-3 counter-box">
                            <div class="icon-box linkCoubt"><i class="fab fa-linkedin-in"></i></div>
                            <h2><span class="counter">100</span><span>+</span></h2>
                            <p>LINKEDIN FOLLOWERS</p>
                        </div>
                        <div class="col-md-3 counter-box">
                            <div class="icon-box spotiCount"><i class="fab fa-spotify"></i></div>
                            <h2><span class="counter">300</span><span>+</span></h2>
                            <p>SPOTIFY PLAYS</p>
                        </div>
                        <div class="col-md-3 counter-box">
                            <div class="icon-box tubeCount"><i class="fab fa-youtube"></i></div>
                            <h2><span class="counter">250</span><span>+</span></h2>
                            <p>YOUTUBE SUBSCRIBERS</p>
                        </div>
                        <div class="col-md-3 counter-box">
                            <div class="icon-box reachCount"><i class="fas fa-users"></i></div>
                            <h2><span class="counter">15000</span><span>+</span></h2>
                            <p>OVERALL REACH</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
            
</div>     
            
    
            
            
        
    
</div>
    </div>
</section>
<!--End of About Us-->




<!-- Begin of Collaborations-->





 <div class="parallax-window" data-parallax="scroll" data-image-src="https://raw.githubusercontent.com/AmanKuvera-Dev/VITrendz/master/CSS/image/para2.png">
        
        <section class="collab">
 
       

            <div class="collabSection">
               <div class="headCollab">
                <div class="headerContact">
                    <h1 class="collabTitle">
                        Our Collaborations
                    </h1>
                    <h5 class="collabHead2">
                        Alone we are ordinary, together we are something extra!
                    </h5>
                    
                </div>

            </div>
                       
               </div>         
 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
                  <div class="collab-align">
                <img src="CSS/image/null%20class.png" class="img-collab" alt="">
                <p>Marketing and Sales Collaboration</p>
            </div>
            
    </div>
    
    <div class="carousel-item">
                  <div class="collab-align">
                <img src="CSS/image/Hackertribe.png" class="img-collab1" alt="">
            </div>
            
    </div>
    
    <div class="carousel-item">
                  <div class="collab-align">
                <img src="CSS/image/Horizontal%20White.png" class="img-collab1" alt="">
            </div>
            
    </div>
   
   
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
        
            </div>

 
</section>


<!--End of Collaborations-->
    </div>



<!--End of Collab-->

<!--Start Social-->


<div class="socialCover" id="Sociale">
<div class="container">
<div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="trendzSocial">
                <div class="SocialHeading"><h1>VITrendz Sociale</h1></div>
                <div class="socialBody">
                    <div class="socialpara1"><p>Vitrendz is an organization that has its roots mainly in social platforms. It has proven from time to time that entertainment, academic resources and other academic help can be provided by using social media in a positive way.<br> <br>VITrendz Sociale platforms:</p>
                    
                    <ul>
                        <li>
                        
                        <button type="button" class="btn btn-outline-primary btn-lg insta btn1" data-modal-target="#socialModal" id="socI"> <i class="fab fa-instagram"></i> | Instagram</button>
                        
                        </li>
                        
                        <li>
                        
                        <button type="button" class="btn btn-outline-primary btn-lg fb btn1" data-modal-target="#socialModal" id="socF"><i class="fab fa-facebook-f"></i> | Facebook</button>
                        
                        </li>
                        
                        
                        
                        <li>
                        
                        <button type="button" class="btn btn-outline-primary btn-lg tele btn1" data-modal-target="#socialModal" id="socT"><i class="fab fa-telegram-plane"></i> | Telegram</button>
                        
                        </li>
                        
                        <li>
                        
                        <button type="button" class="btn btn-outline-primary btn-lg tube btn1" data-modal-target="#socialModal" id="socY"><i class="fab fa-youtube"></i> | Youtube</button>
                        
                        </li>
                        
                        <li>
                        
                        <button type="button" class="btn btn-outline-primary btn-lg linked btn1" data-modal-target="#socialModal" id="socL"><i class="fab fa-linkedin-in"></i> | LinkedIn</button>
                        
                        </li>
                       
                         <li>
                         
                         <button type="button" class="btn btn-outline-primary btn-lg whats btn1" data-modal-target="#socialModal" id="socW"><i class="fab fa-whatsapp"></i> | WhatsApp</button>
                         
                         </li>
                         
                         <li>
                         
                         <button type="button" class="btn btn-outline-dark btn-lg btn1" data-modal-target="#socialModal" id="socDiscord"><i class="fab fa-discord"></i> | Discord</button>
                         
                         </li>
                         
                         <li>
                         
                         <button type="button" class="btn btn-outline-primary btn-lg spoti btn1" data-modal-target="#socialModal" id="socSpot"><i class="fab fa-spotify"></i> | Spotify</button>
                         
                         </li>
                    </ul>
                    
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    </div>
    
    <div class="modal" id="socialModal">
    <div class="modal-header">
      <div class="title" id="socTitle"></div>
      <div class="title" id="socTitle"></div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body" id="socBody"></div>
    <div class="modBtnPlacement">
  <a href="" id="modLinkSoc" target="_blank"><button type="button" id="modButtonSoc" class="btn btn-success">Open Link</button></a>
  </div>
  </div>
    </div>


<!--End of Social-->




<!--Begin of Recruit-->
<section class="recrutCover" id="recruit">
   <div class="bg-circles">
     
     <div id="mng-posi">
      <img src="CSS/image/mng.png" class="mngCirc " alt=""></div>
  
     <div id="tech-posibig">
      <img src="CSS/image/tech.png" class="techCirc" alt=""></div>
  
  <div class="edit-posi1">
  <img src="CSS/image/editorial.png" class="edit-circle1" alt=""></div>
  
  <div id="skill-posi1">
  <img src="CSS/image/SKILL1.png" class="skillCirc" alt=""></div>
  
    </div>
    <div class="container">
       
        <div class="row">
            <div class="col-md-10 offset-md-1 recruitSection">
                <div class="headerContact">
                   <h6 class="recruitHead1">
                       Want to improve your skills? learn with a motive?
                   </h6>
                    <h1 class="recruitTitle">
                        BE THE TREND!
                    </h1>
                    <h5 class="recruitHead2">
                        Join us and make your skillset stronger!
                    </h5>
                    
                </div>
                <div class="recBtn">
                    <button type="button" class="btn btn-primary recruitBtn">Apply Now</button>
                    </div>
            </div>
                       
                        
        </div>
    </div>
    
</section>


<!--End of Recruit-->






<!--parallex division 2 strts here-->

       <div class="parallax-window parallex-div" data-parallax="scroll" data-image-src="https://raw.githubusercontent.com/AmanKuvera-Dev/VITrendz/master/CSS/image/para1.png">
        
        <div class="row para1-text">
        <div  class="col-md-6 offset-md-3">
        <h1>For VITians. By VITians</h1>
        <p>VITrendz - one place for all resourses.</p>
        </div>
        </div>
    </div>


<!--parallex division 2 ends here-->













<!--Start of Contact-->
<section class="contactCover" id="ContactUs">
    <div class="container">
       
        <div class="row">
            <div class="col-md-10 offset-md-1 contactSection">
                <div class="headerContact">
                   <h6 class="subContactHead1">
                       THE SUPPORT TEAM IS HERE TO HELP YOU
                   </h6>
                    <h1 class="contactTitle">
                        GET IN TOUCH
                    </h1>
                    <h5 class="subContactHead2">
                        OUR CURRENT RESPONSE TIME IS 1 WORKING DAY
                    </h5>
                </div>
            </div>
                        
        </div>
        
                    <div class="row">
                
                <div class="col-md-4 mid">
                   <img src="CSS/image/SPONSOR.png" class="img-responsive spon-size" alt="">
                    <h3 class="contactHeaders">Sponsor Us</h3>
                    <p class="contactDescription">Want to promote products useful for students?
We are on a mission to help thousands of college students by the effective use of digital infrastructure.</p>
                    <button type="button" data-modal-target="#contactModal" class="btn btn-primary cnctBtn" style="display:inline-block;text-decoration:none;background-color:#24a0ed ;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:0px 28px;border-radius:21px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" id="Sponsorship">Connect Now</button>
                    
                    
                </div>
                <div class="col-md-4 mid">
                   <img src="CSS/image/generalQueries.png" class="img-responsive spon-size cnctBtn" alt="">
                    <h3 class="contactHeaders">Report A Bug </h3>
                    <p class="contactDescription">Want to stay tuned?<br>
Follow us on social media platforms and feel free to DM us for any of your content or talent. </p>
                    <a class="typeform-share button" href="https://form.typeform.com/to/hBbovDov" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#24a0ed ;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:0px 28px;border-radius:21px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-submit-close-delay="2" target="_blank">Report Now </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                </div>
                
                <div class="col-md-4 mid"> 
                   <img src="CSS/image/contact.png" class="img-responsive spon-size cnctBtn" alt="">
                    <h3 class="contactHeaders">Contact Us</h3>
                    <p class="contactDescription">Have a query?<br>
Write a note to our email ids, we will try our best to look positively into the matter.</p>
                    <button type="button" data-modal-target="#contactModal" id="onlyContact" class="btn btn-primary cnctBtn" style="display:inline-block;text-decoration:none;background-color:#24a0ed ;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:17px;line-height:42.5px;text-align:center;margin:0;height:42.5px;padding:0px 28px;border-radius:21px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;">Connect Now</button>
                </div>
                
                
            </div>
            
            
        
    </div>
    
    <div class="modal" id="contactModal">
    <div class="modal-header">
      <div class="title" id="conTitle"></div>
      <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="modal-body" id="conBody"></div>
  </div>
    
</section>

<!--End of Contact-->


  








































<!--smart Nav button-->

<section class="posi ">
<div class="btn-group dropup ">
  <input type="image" class="btn btn-secondary shadow dropdown-toggle smart-button posi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    src="CSS/image/logo.png" alt="">
  <div class="dropdown-menu">
    <a href="index.html" class="dropdown-item">Home</a>
    <a href="#services-tab" class="dropdown-item">Services</a>
    <a href="#ABOUT-US" class="dropdown-item">About Us</a>
    <a class="dropdown-item" href="#Sociale">VITrendz Sociale</a>
    <a class="dropdown-item" href="underConstruction.html" target="_blank">The Team</a>
    <a href="#ContactUs" class="dropdown-item">Contact Us</a>
    <a href="#" class="dropdown-item">Sign In</a>
    <a href="#" class="dropdown-item">Sign Up</a>
    


    
  </div>
  </div>


    </section>
    
<!--smar Nav end-->



  
  
  
  <footer>

     
      <p class="footer-text">&copy; 2020 Copyrights : vitrendz.tech <br><a href="https://www.vitrendz.tech/privacy">Terms </a>&middot;<a href="https://www.vitrendz.tech/privacy"> Conditions</a></p>
      
  </footer>
  
  
  

   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="./JAVASCRIPT/script.js"></script>
    <script src="./JAVASCRIPT/modal.js"></script>
<script src="./JAVASCRIPT/owl.carousel.min.js"></script>
<script src="./JAVASCRIPT/owl.autoplay.js"></script>

 <script src="./JAVASCRIPT/jquery.waypoints.min.js"></script>
        <script src="JAVASCRIPT/jquery.counterup.min.js"></script>
        
        <script>
      jQuery(document).ready(function( $ ){
          $('.counter').counterUp({
        delay: 10,
        time: 1000
          });
      });
      </script>

<script>

    $(window).scroll(function(){
          $('.smart-button').toggleClass('visible',$(this).scrollTop()>50)
      });
    
     $('.smart-button').click(function(){
          $('.smart-cont').toggleClass('select')
      });
    
    
      </script>
      

 <script>
      $('.testimonial-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay: true,      
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})
     
     $( document ).ready(function() {
  new WOW().init();
});
      
      </script>
      

     


      <script src="./JAVASCRIPT/parallax.js"></script>
  </body>
</html>
