<% include ./partials/headers1 %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <style>
		  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
		  .svgbg{
			background: transparent;
		  }
		  body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
			  						  padding-top:10vh;

	/* background-size: 600% 600%;
			    */
			  height:280vh;
			
	animation: gradient 15s ease infinite;
}
		  @media only screen and (max-width: 600px) {
  body {
   height:600vh;
			  padding-top:10vh;
  }
			 
		  @media only screen and (min-width: 600px) {
  body {
height:280vh;
			  padding-top:10vh;
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
		  @media (min-width: 320px) and (max-width: 480px) {
  
  
		  .col-sm{
			  margin-top:30px;
		  }
  
}
		  
	  </style>

    <title>ECE Lab</title>
  </head>
  <body>
	
   

<div class="jumbotron svgbg" style="margin-bottom:10px;">
  <h1 class="text-light" style="text-align:center">Follow VITrendz On Instagram</h1>
  <div class="d-flex justify-content-center">
  <a class="btn btn-primary btn-lg" href="https://www.instagram.com/vitrendz/" target="_blank" role="button">View Instagram page</a>
	</div>
</div>
	  <div class="container">
		<div class="jumbotron svgbg">
  <h1 class="text-light">Sample Lab Records for ECE</h1>
  <div class="alert alert-danger" role="alert">
  Please note that the lab files provided are only for reference purposes.
</div>
  <hr class="my-4">
  
</div>  
	  </div>
	  
	  <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Analog Electronic Circuits</h5>
    <a href="https://drive.google.com/drive/folders/1gqs0m69zN5iwGEL_ogqTC_TIVrRYWXQi?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Aod</h5>
    
    <a href="https://drive.google.com/drive/folders/1rfImvFfHCrtXGsNYGhqnT4vmi5hcGwu1?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
	  <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">FEC</h5>
    
    <a href="https://drive.google.com/drive/folders/1gmL3iWBDbzyJo0e0JnZ2cGgHhlDx7cr1?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Semiconductor Devices And Circuits</h5>
    
    <a href="https://drive.google.com/drive/folders/1OeOCrrmaS1HiY07uRTdYqKjaUwgzrxO7?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Analog Communication Systems</h5>
    
    <a href="https://drive.google.com/drive/folders/1A4jt-Ke6emdostEKDHCrIpx52Esm4a2h?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">VLSI System Design</h5>
    
    <a href="https://drive.google.com/drive/folders/17oI7QESgRPRvDzGEDZKEfN3rDVHJGaJj?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
		  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Electronic Hardware And Troubleshooting</h5>
    <a href="https://drive.google.com/drive/folders/1SNtuv54j7PB-O3BZIgozMDUN366Tz4Km?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">DLD</h5>
    
    <a href="https://drive.google.com/drive/folders/16XKP-Q6DQuJGCAn0W2iTxQSOpkgiXHJI?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
	  <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Data Visualisation</h5>
    
    <a href="https://drive.google.com/drive/folders/1pgKdrpgcsrut8iGnrChCIkxeiwUSjsaG?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
		  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Digital Communication Systems</h5>
    
    <a href="https://drive.google.com/drive/folders/1aEd1ZZMZGWZLjQjvSpey7-q0avolysOD?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Linear Integrated Circuits</h5>
    
    <a href="https://drive.google.com/drive/folders/1WZpr5SdQyzjAjqji1HSCjX6DhVJtd50C?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Microcontroller And Its Applications</h5>
    
    <a href="https://drive.google.com/drive/folders/1akPn2W008aN1nL5WSha8g5LBhFnJ1-Rm?usp=sharing" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
</div>
		  <!-- Footer -->
<footer class="page-footer font-small blue pt-4 container-fluid">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="background-color:black;color:white">

    <!-- Grid row -->
    
  <!-- Footer Links -->

  <!-- Copyright -->

    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
	<% include ./partials/footer %>