<% include ./partials/headers1 %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  <style>
		  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
		  .svgbg{
			background: transparent;
		  }
			  body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	  height:240vh;
						  padding-top:10vh;
			
	animation: gradient 15s ease infinite;
}
		  @media only screen and (max-width: 600px) {
  body {
   height:600vh;
			  padding-top:10vh;
  }
			 
		  @media only screen and (min-width: 600px) {
  body {
height:270vh;
			  padding-top:10vh;
  }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
		  @media (min-width: 320px) and (max-width: 480px) {
  
  
		  .col-sm{
			  margin-top:30px;
		  }
  
}
		  
	  </style>

    <title>BioTech Lab</title>
  </head>
  <body>


<div class="jumbotron svgbg" style="margin-bottom:10px;">
  <h1 class="text-light" style="text-align:center">Follow VITrendz On Instagram</h1>
  <div class="d-flex justify-content-center">
  <a class="btn btn-primary btn-lg" href="https://www.instagram.com/vitrendz/" target="_blank" role="button">View Instagram page</a>
	</div>
</div>
	  <div class="container">
		<div class="jumbotron svgbg">
  <h1 class="text-light">Sample Lab Records for BioTech</h1>
  <div class="alert alert-danger" role="alert">
  Please note that the lab files provided are only for reference purposes.
</div>
  <hr class="my-4">
  
</div>  
	  </div>
	  
	  <div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">ATBT</h5>
    <a href="https://drive.google.com/drive/folders/1EyHXZJKIwtJ1CSVK7JX-iAIzshwM7b0Z?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">BioChem</h5>
    
    <a href="https://drive.google.com/drive/folders/1oPnOtWErkeIdRyzdQY1fn1vVF-0PkJlS?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
	  <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Bio Info</h5>
    
    <a href="https://drive.google.com/drive/folders/1gMfg578NO5pGTtLyUlApKXyokyonVl0A?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Cell Bio</h5>
    
    <a href="https://drive.google.com/drive/folders/13C_endDj92WDCk-Zx4c_VIQb07QB-lIn?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">DSP</h5>
    
    <a href="https://drive.google.com/drive/folders/1qDNbH8RF5g_QhzEE2r96jiSE7PzQN-I8?usp=sharing" class="btn btn-primary">Drive link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card" >
  
  <div class="card-body">
    <h5 class="card-title">Immuno</h5>
    
    <a href="https://drive.google.com/drive/folders/1-c0pNZdsYstrnkfoEyoRsleVQhlb4GAG?usp=sharing" class="btn btn-primary">Drive Link</a>
  </div>
</div>
    </div>
  </div>
		  <br>
		  
		  <div class="row d-flex justify-content-center">
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">MicroBio</h5>
    <a href="https://drive.google.com/drive/folders/1TTNQVYhTei8b4QE-mRxWjWQ_9yM6zPWn?usp=sharing" class="btn btn-primary">Drive Link</a>
  </div>
</div>
    </div>
    <div class="col-sm">
      <div class="card">
  
  <div class="card-body">
    <h5 class="card-title">Mol Bio</h5>
    
    <a href="https://drive.google.com/drive/folders/1XTfPkZviMfe3VHWy1jarKZw9miBy0f-0?usp=sharing" class="btn btn-primary">Drive Link</a>
  </div>
</div>
    </div>
	  
		  
    
    
    
    </div>
</div>
		  <!-- Footer -->
<footer class="page-footer font-small blue pt-4 container-fluid">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="background-color:black;color:white">

    <!-- Grid row -->
    
  <!-- Footer Links -->

  <!-- Copyright -->

    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
	<% include ./partials/footer %>