
.resp-img{
    width:40px;
    height:40px;
}

input[type="image"]
{
    width:60px;
    height:60px;
    border-radius: 50%;
    padding:10px 8px 5px 4px;

}

.posi{
    position: fixed !important;
    bottom:5% !important;
   right:5% !important;
    display: block;
    z-index: 50 !important;

}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    border:solid #B1D4E0 2px !important;
    background: #004369 !important;
    
}

.btn-secondary.focus, .btn-secondary:focus{
    background: #145DA0  !important;
    border:solid #B1D4E0 2px !important;
}

.btn-secondary{
        border:solid #B1D4E0 2px !important;
    background: #004369 !important;
}

.dropdown-menu{
    background-color: #004369 !important;
        z-index: 50 !important;
}

.smart-button{
    display: none;
    border-radius: 50%;
    height:60px;
    width: 60px;
    padding:6px 7px 3px 0px;
    outline: none !important;
    border:solid #B1D4E0 2px;
      position: fixed;
      bottom: 30px;
      right: 30px;
    display:none;
    background: #004369;
    transform: matrix3d(0);
    z-index: 50 !important;
    
}

@media(max-width:480px){
    .posi{
        z-index: 500;
    }
}
.smart-button.visible{
    display:block;
    animation-duration: .6s;
    z-index: 50 !important;
    animation-iteration-count: 2;
    animation-name: example;

}

@keyframes example {
    50%  {bottom:130px; transform: rotate3d(0, 1, 0, 180deg)}

    100%  {bottom:30px; transform: rotate3d(0)}
}